/* You can add global styles to this file, and also import other style files */
.login{
    width: 30%;
    height: 40%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
    padding: 2%;
    margin: 0 auto;
}

.loginContainer{
    width: 100%;   
}

.top{
    padding-top: 5%;
    padding-bottom: 5%;
}

.topGrid{
    border-radius: 5px;    
    margin-bottom: 10px;
    padding: 10px;
    color: whitesmoke;
}

.banner{
    border-radius: 5px;
    color: whitesmoke;
    display: flex;
}

.h4{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 3%;
}

.col-md-2, .col-md-1{
    align-items: center;
    display: flex;
    justify-content: center;    
    margin: 0 auto;    
    margin-bottom: 10px;
    text-align: center;
}

.ng-touched.ng-invalid:is(input, textarea, select),
.ng-dirty.ng-invalid:is(input, textarea, select){
    outline: 2px solid #bd0c0c;
}
